<a href="https://colab.research.google.com/github/erlynnur/STRUKTUR-DATA-SEMESTER-2/blob/main/Latihan_dan_Percobaan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#percobaan 1
# Deklarasi array kosong
data = []
# Inisialisasi array dengan elemen
angka = [10, 20, 30, 40, 50]
# Menampilkan isi array
print("Isi array angka:", angka)

#percobaan 2
 # Mengakses elemen Array
print("Elemen pertama:", angka [0]) # Elemen pertama
print("Elemen terakhir:", angka [-1]) # Elemen terakhir

# Menambah elemen menggunakan append()
angka.append(60)
print("Array setelah penambahan elemen:", angka)
# Menambah elemen menggunakan insert()
angka.insert(2, 25) # Menyisipkan 25 di indeks ke-2
print("Array setelah penambahan elemen dengan insert:", angka)

# Menghapus elemen menggunakan remove()
angka.remove (25)
# Menghapus nilai 25
print("Array setelah menghapus elemen 25:", angka)
# Menghapus elemen menggunakan pop()
angka.pop (2) # Menghapus elemen pada indeks ke-2
print("Array setelah menghapus elemen pada indeks 2:", angka)

#Mengubah elemen pada indeks 0
angka [0] = 100
print ("Array setelah mengubah elemen pertama:", angka)

#percobaan 3
angka = [10, 20, 30, 40]

for nilai in angka:
  print("Nilai:", nilai)

#percobaan 4
angka = [10, 20, 30, 40]
print("Jumlah total:", sum(angka))
print("Nilai maksimum:", max(angka))
print("Nilai minimum:", min(angka))


#percobaan 5
# Deklarasi array 2D
matriks = [
[1, 2, 3],
[4, 5, 6],
[7, 8, 9]
]
# Menampilkan isi array 2D
print("Isi array 2D:")
for baris in matriks:
  print (baris)

#percobaan 6
# Mengakses elemen pada baris ke-1, kolom ke-2 (indeks [0] [1])
print("Elemen pada baris 1, kolom 2:", matriks [0] [1])
#Mengakses elemen terakhir (baris ke-3, kolom ke-3)
print("Elemen terakhir:", matriks [-1] [-1])

#percobaan 7
# Menambahkan baris baru
matriks.append([10, 11, 12])
print("Array setelah menambahkan baris baru:", matriks)
# Menambahkan elemen pada baris ke-2
matriks[1].append(99)
print("Array setelah menambahkan elemen di baris ke-2:", matriks)

#percobaan 8
# Menghapus elemen tertentu dari baris ke-1
matriks[0].remove(2)
print("Array setelah menghapus elemen 2 dari baris pertama:", matriks)
# Menghapus elemen pada indeks tertentu dari baris ke-2
matriks[1].pop(1)
print("Array setelah menghapus elemen indeks ke-1 dari baris ke-2:", matriks)

#percobaan 9
#Mengubah elemen pada baris ke-3, kolom ke-2
matriks [2] [1]=88
print("Array setelah mengubah elemen baris ke-3, kolom ke-2:", matriks)

#percobaan 10
belanja = ["Beras", "Gula", "Minyak"]
belanja.append("Teh")
belanja.remove("Gula")
print("Daftar belanja terbaru:", belanja)

Isi array angka: [10, 20, 30, 40, 50]
Elemen pertama: 10
Elemen terakhir: 50
Array setelah penambahan elemen: [10, 20, 30, 40, 50, 60]
Array setelah penambahan elemen dengan insert: [10, 20, 25, 30, 40, 50, 60]
Array setelah menghapus elemen 25: [10, 20, 30, 40, 50, 60]
Array setelah menghapus elemen pada indeks 2: [10, 20, 40, 50, 60]
Array setelah mengubah elemen pertama: [100, 20, 40, 50, 60]
Nilai: 10
Nilai: 20
Nilai: 30
Nilai: 40
Jumlah total: 100
Nilai maksimum: 40
Nilai minimum: 10
Isi array 2D:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Elemen pada baris 1, kolom 2: 2
Elemen terakhir: 9
Array setelah menambahkan baris baru: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
Array setelah menambahkan elemen di baris ke-2: [[1, 2, 3], [4, 5, 6, 99], [7, 8, 9], [10, 11, 12]]
Array setelah menghapus elemen 2 dari baris pertama: [[1, 3], [4, 5, 6, 99], [7, 8, 9], [10, 11, 12]]
Array setelah menghapus elemen indeks ke-1 dari baris ke-2: [[1, 3], [4, 6, 99], [7, 8, 9], [10, 11, 12]]
Array setelah mengubah elemen baris ke-3, kolom ke-2: [[1, 3], [4, 6, 99], [7, 88, 9], [10, 11, 12]]
Daftar belanja terbaru: ['Beras', 'Minyak', 'Teh']

In [ ]:
#Latihan 1
data = []
#inisialisasi array angka npm
npm_mahasiswa = [2430506064, 2430506065, 2430506066, 2430506067]
#nampilin isi array
print("isi array npm:", npm_mahasiswa)

isi array npm: [2430506064, 2430506065, 2430506066, 2430506067]

In [ ]:
#Latihan 2
data = []
npm_mahasiswa = [2430506067, 2430506068, 2430506069, 2430506070]
print("isi array npm:", npm_mahasiswa)
print("Element kedua:", npm_mahasiswa[1])
print("Element terakhir:", npm_mahasiswa[-1])

npm_mahasiswa.append(2430506071)
print("Array setelah penambahan elemen:", npm_mahasiswa)

npm_mahasiswa.pop(1)
print("Array setelah menghapus elemen ke 2:", npm_mahasiswa)

npm_mahasiswa[1] = 2430506072
print("Array setelah mengubah element kedua:",npm_mahasiswa)

isi array npm: [2430506067, 2430506068, 2430506069, 2430506070]
Element kedua: 2430506068
Element terakhir: 2430506070
Array setelah penambahan elemen: [2430506067, 2430506068, 2430506069, 2430506070, 2430506071]
Array setelah menghapus elemen ke 2: [2430506067, 2430506069, 2430506070, 2430506071]
Array setelah mengubah element kedua: [2430506067, 2430506072, 2430506070, 2430506071]

In [ ]:
#latihan 2
data = []
npm_mahasiswa = [63, 64, 65, 66, 67]
print("isi array npm:", npm_mahasiswa)
print("Element pertama:", npm_mahasiswa[1])
print("Element terakhir:", npm_mahasiswa[-1])

npm_mahasiswa.append(68)
print("Array setelah penambahan elemen:", npm_mahasiswa)

npm_mahasiswa.remove(63)
print("Array setelah menghapus elemen pertama:", npm_mahasiswa)

npm_mahasiswa[1] = 70
print("Array setelah mengubah element kedua:",npm_mahasiswa)

isi array npm: [63, 64, 65, 66, 67]
Element pertama: 64
Element terakhir: 67
Array setelah penambahan elemen: [63, 64, 65, 66, 67, 68]
Array setelah menghapus elemen pertama: [64, 65, 66, 67, 68]
Array setelah mengubah element kedua: [64, 70, 66, 67, 68]

In [ ]:
#latihan 3

Fakultas = ["teknik",
    "ekonomi",
    "keguruan dan ilmu pendidikan",
    "ilmu sosial dan politik",
    "pertanian"]
for Fakultas in Fakultas:
    print("Fakultas Untidar:", Fakultas)

Fakultas Untidar: teknik
Fakultas Untidar: ekonomi
Fakultas Untidar: keguruan dan ilmu pendidikan
Fakultas Untidar: ilmu sosial dan politik
Fakultas Untidar: pertanian

In [ ]:
#LATIHAN 4
harga_barang = [10000, 15000, 20000, 25000]
print("Jumlah total:", sum(harga_barang))

Jumlah total: 70000

In [ ]:
#Latihan 5
matriks = [
[1, 2, 3, 5],
[4, 5, 6, 7],
[7, 8, 9, 11]
]
# Menampilkan isi array 2D
print("Isi array 2D:")
for baris in matriks:
  print (baris)

Isi array 2D:
[1, 2, 3, 5]
[4, 5, 6, 7]
[7, 8, 9, 11]

In [ ]:
#LATIHAN 6 (dari latihan 5)
#Latihan 5
matriks = [
[1, 2, 3, 5],
[4, 5, 6, 7],
[7, 8, 9, 11]
]
# Menampilkan isi array 2D
print("Isi array 2D:")
for baris in matriks:
  print (baris)
#Nah dibawah ini latihan 6-nya
# Mengakses elemen pada baris ke-2, kolom ke-4 (indeks [1] [3])
print("Elemen pada baris 2, kolom 4:", matriks [1] [3])

Isi array 2D:
[1, 2, 3, 5]
[4, 5, 6, 7]
[7, 8, 9, 11]
Elemen pada baris 2, kolom 4: 7

In [ ]:
#Latihan 7
matriks = [
[1, 2, 3, 5],
[4, 5, 6, 7],
[7, 8, 9, 11]
]
matriks.append([28, 3, 20, 7])
print("Array setelah menambahkan baris baru:", matriks)
for baris in matriks:
  print(baris)

Array setelah menambahkan baris baru: [[1, 2, 3, 5], [4, 5, 6, 7], [7, 8, 9, 11], [28, 3, 20, 7]]
[1, 2, 3, 5]
[4, 5, 6, 7]
[7, 8, 9, 11]
[28, 3, 20, 7]

In [ ]:
#Latihan 8
matriks = [
[1, 2, 3, 5],
[4, 5, 6, 7],
[7, 8, 9, 11]
]
matriks.append([28, 3, 20, 7])
matriks[3].pop(2)
print("Array setelah menghapus elemen indeks ke-3 dari baris ke-4:", matriks)
for baris in matriks:
  print(baris)

Array setelah menghapus elemen indeks ke-3 dari baris ke-4: [[1, 2, 3, 5], [4, 5, 6, 7], [7, 8, 9, 11], [28, 3, 7]]
[1, 2, 3, 5]
[4, 5, 6, 7]
[7, 8, 9, 11]
[28, 3, 7]

In [ ]:
#Latihan 9
matriks = [
[1, 2, 3, 5],
[4, 5, 6, 7],
[7, 8, 9, 11]
]
matriks.append([28, 3, 20, 7])
matriks[3].pop(2)
matriks[3][2] = 18
print("Array tanggal hari ini: ")
for baris in matriks:
  print(baris)

Array tanggal hari ini:
[1, 2, 3, 5]
[4, 5, 6, 7]
[7, 8, 9, 11]
[28, 3, 18]

In [ ]:
#Latihan 10
belanja = ["DIMSUM", "SUNSCREEN", "FACEWASH", "MOISTURIZER"]
belanja.append("SERUM")
belanja.remove("DIMSUM")

print("Daftar belanjaku: ", belanja)

Daftar belanjaku:  ['SUNSCREEN', 'FACEWASH', 'MOISTURIZER', 'SERUM']